<!DOCTYPE html>
<html>
<head>
	<title>Letter To the Editor</title>
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" conutent="IE=edge">
    <!--for repsonsiveness-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="style.css" href="css/main.css"> 
   
    

</head>
<body>
<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#mymodal">
  Disclaimer
</button>
<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="mymodallabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
     <center> <h3 class="modal-title" id="mymodallabel"><strong>Sauti Chat HelpGuide</strong></h3></center>
    </div><!--modal-header-->
    <div class="modal-body">
      <p>Sautidates does not disclose your personal number to anyone.Subscribers are however allowed to share their numbers at their will though sautidates shall not be help responsible incase of anything</p>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div><!--modal-footer-->
    </div><!--modal-content-->
  </div><!--modal-modal dialog-->
</div><!--modal-fade-->

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
 
</body>
</html>